/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    height: auto;
    min-height: 50px;
    background-color: #2e3a46;
    
    
}
header img {
    width: 30px;
    margin: 10px 10px;
    color: white;
    
}

/* Main */
main {
    background-color: #1e2d3b;
    padding: 30px 200px;
    height: calc(100vh - 50px);
    /* height: 100vh; */
}
#cardContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}  

/* Cards */
.card {
    width: 18%;
    background-color: #2e3a46;
    padding: 15px 10px;
    text-align: center;
    height: 280px;
}
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.card h4 {
    color: white;
    text-transform: uppercase;
}
.card p {
    color: gray;
}

